@import "~/node_modules/spectre.css/dist/spectre.min.css";
@import "~/node_modules/spectre.css/dist/spectre-icons.min.css";

ul {
  margin: 0;
}

button + * {
  margin-left: .4rem;
}

h2 {
  margin: 0;
}

#app .column {
  padding: .4rem;
}
